/* estilos.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #050505;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e0e0e0;
}

/* Contenedor principal tipo Tarjeta */
.card {
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(220, 20, 60, 0.15);
  border: 1px solid #333;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1,
h2 {
  color: #dc143c;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos de Formulario (Inputs) */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
}

input:focus {
  /* Al hacer clic, el borde se pone rojo */
  border-color: #dc143c;
  box-shadow: 0 0 8px rgba(220, 20, 60, 0.4);
  outline: none;
}

/* Placeholder */
::placeholder {
  color: #777;
}

/* Botones Generales */
button {
  width: 100%;
  padding: 14px;
  background-color: #b30000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
  margin-top: 15px;
  text-transform: uppercase;
}

button:hover {
  background-color: #ff0000;
}

button:active {
  transform: scale(0.98); /* Pequeño efecto de pulsación */
}

/* Botón específico de Cerrar Sesión */
.btn-logout {
  background-color: transparent;
  border: 2px solid #b30000;
  color: #b30000;
}

.btn-logout:hover {
  background-color: #b30000;
  color: white;
}

/* Mensajes de error */
.error-msg {
  color: #ff4d4d;
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: bold;
}

.info-text {
  color: #aaaaaa;
  margin-bottom: 20px;
}

/* Caja de información del sistema (Bienvenido.html) */
.box-sistema {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: 4px solid #dc143c;
  text-align: left;
}

.box-sistema strong {
  color: #fff;
}

/* Título gigante de error (403.html) */
.titulo-error {
  color: #ff0000;
  font-size: 4em;
  margin-top: 0;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Efecto de neón */
}
